<div class="monkey-list-layout">
  <div class="cards-grid">
    <mat-card class="card monkeys">
      <mat-card-header class="monkey-header">
        <mat-card-title>Monkeys</mat-card-title>
        <button mat-icon-button color="warn" (click)="addMonkeyArrival()">
          <mat-icon>add</mat-icon>
        </button>
      </mat-card-header>
      <mat-card-content>
        <scrollable-table
          [columns]="columns"
          [data]="monkeys"
          [showActions]="true"
          (edit)="onEdit($event)"
          (delete)="onDelete($event)"
        ></scrollable-table>
      </mat-card-content>
    </mat-card>

    <mat-card class="card shelters">
      <mat-card-header>
        <mat-card-title>Shelters</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <scrollable-table
          [columns]="columnsShelter"
          [data]="shelters"
          [showActions]="false"
          (edit)="onEdit($event)"
          (delete)="onDelete($event)"
        ></scrollable-table>
      </mat-card-content>
    </mat-card>

    <mat-card class="card species">
      <mat-card-header>
        <mat-card-title>Species</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <scrollable-table
          [columns]="columnsSpecies"
          [data]="species"
          [showActions]="false"
          (edit)="onEdit($event)"
          (delete)="onDelete($event)"
        ></scrollable-table>
      </mat-card-content>
    </mat-card>
  </div>
</div>
