.table-container {
  height: 100%;
  overflow: auto;
}

.scrollable-table {
  background-color: unset;

}

table {
  width: 100%;
  min-width: 600px;
}

th.mat-header-cell,
td.mat-cell {
  padding: 0.5rem 1rem;
}

mat-icon {
  font-size: 20px;
}
