<nav class="sidebar">
  <div class="sidebar-content">
  <div class="sidebar-header">
    <h1 class="app-title sidebar-title">🐒 Monkey</h1>
  </div>
  <ul class="nav-list">
    <li *ngFor="let item of navItems">
      <a
        class="nav-link"
        [routerLink]="item.route"
        [class.active]="isActive(item)"
      >
        <mat-icon>{{ item.icon }}</mat-icon>
        <span class="link-text">{{ item.label }}</span>
      </a>
    </li>
  </ul>
  </div>
    <div class="sidebar-footer">
        <button mat-icon-button color="primary" (click)="logout()">
          <mat-icon>logout</mat-icon>
        </button>
    </div>
</nav>
